Version 1.1.0 
'TEST SETUP ====================================================================
'Test Description
	
'Run Time
'	hours      minutes    seconds
	72          0          0
'Ramp Up Time (s)
	0
'Default Disk Workers to Spawn
	NUMBER_OF_CPUS
'Default Network Workers to Spawn
	0
'Record Results
	ALL
'Worker Cycling
'	start      step       step type
	1          1          LINEAR
'Disk Cycling
'	start      step       step type
	1          1          LINEAR
'Queue Depth Cycling
'	start      end        step       step type
	1          32         2          EXPONENTIAL
'Test Type
	NORMAL
'END test setup
'RESULTS DISPLAY ===============================================================
'Record Last Update Results,Update Frequency,Update Type
	DISABLED,0,WHOLE_TEST
'Bar chart 1 statistic
	Total I/Os per Second
'Bar chart 2 statistic
	Total MBs per Second (Decimal)
'Bar chart 3 statistic
	Average I/O Response Time (ms)
'Bar chart 4 statistic
	Maximum I/O Response Time (ms)
'Bar chart 5 statistic
	% CPU Utilization (total)
'Bar chart 6 statistic
	Total Error Count
'END results display
'ACCESS SPECIFICATIONS =========================================================
'Access specification name,default assignment
	All in ones,NONE
'size,% of size,% reads,% random,delay,burst,align,reply
	512,10,50,100,0,1,0,0
	1024,10,50,100,0,1,0,0
	4096,10,20,100,0,1,0,0
	8192,10,80,100,0,1,0,0
	16384,10,33,100,0,1,0,0
	32768,10,0,100,0,1,0,0
	65536,10,33,100,0,1,0,0
	131072,10,0,100,0,1,0,0
	262144,5,100,100,0,1,0,0
	524288,5,70,100,0,1,0,0
	1048576,5,40,100,0,1,0,0
	2097152,5,49,100,0,1,0,0
'END access specifications
'MANAGER LIST ==================================================================
'Manager ID, manager name
	1,WIN-VD1DP7VPK81
'Manager network address
	
'Worker
	Worker 1
'Worker type
	DISK
'Default target settings for worker
'Number of outstanding IOs,test connection rate,transactions per connection,use fixed seed,fixed seed value
	256,DISABLED,1,DISABLED,0
'Disk maximum size,starting sector,Data pattern
	0,0,0
'End default target settings for worker
'Assigned access specs
	All in ones
'End assigned access specs
'Target assignments
'Target
	X: "New Volume"
'Target type
	DISK

'End target
'End target assignments
'End worker
'End manager
'END manager list
Version 1.1.0 
